# torch
# transformers
# bitsandbytes
# sentence-transformers
# accelerate

torch==2.9.0
transformers
# bitsandbytes
sentence-transformers
accelerate
# llama-cpp-python UNCOMMENT THIS LINE FOR LOCAL DOCKER TESTING
llama-cpp-python==0.2.83 --extra-index-url https://abetlen.github.io/llama-cpp-python-wheels/  
tiktoken
sentencepiece