name: WHO Data Pipeline

on:
  schedule:
    - cron: "0 0 1 */2 *"  
  workflow_dispatch: {}      

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r airflow/requirements.txt

      - name: Run WHO Scraper + Chroma Pipeline
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          CHROMA_COLLECTION: ${{ secrets.CHROMA_COLLECTION }}
          CHROMA_DIR: ${{ secrets.CHROMA_DIR }}
          CHROMA_DB_FILENAME: ${{ secrets.CHROMA_DB_FILENAME }}
        run: |
          python airflow/scripts/data_preprocessing.py
